<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Charts</title>
</head>
<body>
    <h1>Data</h1>
    <canvas id="myChart">></canvas>

    <script src="~/js/BarChart.js"></script>
</body>
</html>